{% extends 'base.html' %}
{% block title %}
Education
{% endblock %}

{% block content %}
    <h1>Education</h1>
    <div>
        <h2>Master of Science in Quantitative Finance</h2>
        <p>Christian-Albrechts-Universität zu Kiel, <a href="https://maps.app.goo.gl/CfAQUFKGxekQTJQN9">Kiel Germany</a></p>
        <p>October 2019 - March 2022</p>
        <ul>
            <li> Specialized in mathematical finance and risk management. </li>
            <li> Solid background in statistics and mathematics, such as Bayesian inference, time
series analysis, PDE numerical solution, etc. </li>
            <li> Proficient in python and related packages applied to data analysis and numerical
computing, such as numpy, matplotlib, etc. </li>
        </ul>
    </div>
    <div>
        <h2>Bachelor of Management Science in Accounting</h2>
        <p>Shandong University, <a href="https://maps.app.goo.gl/XGwwGndttYooMU5YA">Weihai China</a></p>
        <p>September 2015 - June 2019</p>
        <p>
        <ul>
            <li> Specialized in financial accounting and taxation based on Chinese GAAP. </li>
            <li> Solid background in business administration. </li>
            <li> Hands-on skills in accounting management system. </li>
        </ul>
    </div>
{% endblock %}



