{% extends 'base.html' %}
{% block title %}
Experience
{% endblock %}

{% block content %}
    <h1>Work Experience</h1>
    <div>
        <h2>Trade Finance Analyst/Part-time</h2>
        <p> <a href="https://www.modifi.com/">Modifi GmbH</a>, Germany</p>
        <p>September 2021 - January 2024</p>
        <ul>
            <li>Responsible for anti-fraud analysis via eKYC, preventing over 10 fraud cases.</li>
            <li>Participated in trade finance case underwriting, involving financial analysis, trade data analysis, client interviews, and credit analysis, with over 70 cases from the Greater China Region.</li>
            <li>Regular monitoring of clients from the Greater China Region, including updating underwriting models, financial report research, credit checks, and maintaining credit memos.</li>
            <li>Volunteered for additional responsibilities, creating a map and analyzing credit insurance data with Python, aiding supervisors in decision-making.</li>
        </ul>
       <a href="https://drive.google.com/file/d/112ETD5OnTv3WCwiKLKyJu8MlZkLL17Ou/view?usp=drive_link">Reference</a> by <a href="https://www.linkedin.com/in/lgerretsen/">Luc Gerretsen</a>
    </div>
    <br>
    <div>
        <h2>Auditing Intern</h2>
        <p>Ruifeng Accounting Firm, China</p>
        <p>January 2019 - February 2019</p>
        <ul>
            <li>Contributed to the annual report audit of a local state-owned company, examining over 50 capital assets and verifying cash transactions.</li>
            <li>Assisted senior auditors and the project manager in the scrutiny of capital assets and cash, participating in audit checks.</li>
            <li>Enhanced project efficiency by aiding in the analysis of audit results, contributing to the accurate completion of audit reports.</li>
        </ul>
    </div>
{% endblock %}
