{% extends 'base.html' %}
{% block title %}
Showcase
{% endblock %}

{% block content %}
<h1>Showcase</h1>
<br>
<h3><a href="{{url_for('AI_language_school_page')}}">Brent's AI language School Project</a></h3>
<p>
    Brent's AI Language School is a project that utilizes AI tools like ChatGPT and Whisper to
    transform YouTube videos into foreign language learning resources. It automates the
    process from video download to generating textual learning materials by transcribing
    audio and creating educational content. This innovative approach aims to enhance
    language learning accessibility and efficiency.
    <br>
    Skills involved :
<ul>
    <li> program with python OOP method</li>
    <li>Utilized OpenAI APIs and scripted prompts for models</li>
    <li>Shared and managed the project via Git and Github</li>
</ul>
<a href="https://github.com/brentwong-kiel1997/AI_language_school_based_on_Django_and_OpenAI">GitHub Link</a>
</p>

<br>

<h3><a href="{{url_for('BTC_price_page')}}">Interactive BTC-USD Chart</a></h3>
<p>
    This is a simple web application that displays the BTC-USD information chart with 5 minute interval data.
    The chart is interactive and can be zoomed in and out. The data is fetched from the
    <a href="https://pypi.org/project/yfinance/"> yfinance</a> and the chart the power by
    <a href="https://plotly.com/">Plotly</a>.
    </p>

<br>


<h3><a href="https://drive.google.com/drive/folders/1TyZoWXyNBoZuaUc8LNwSA6Tu31wk6itX">
    Seminar in Statistics</a></h3>
<p>
<ul>
    <li><b>Subjects</b> : The concept of realized volatility as an alternative mechanism to model financial volatility:
        BTC market
    </li>
    <li><b>University</b>: Kiel University</li>
    <li><b>Lecturer</b>: <a
            href="https://www.gwif.vwl.uni-kiel.de/de/mitarbeiterinnen-und-mitarbeiter/forschungsgruppe-1/dr-cristina-sattarhoff">
        Dr. Cristina Sattarhoff</a></li>
    <li><b>Grade</b>: 1.3 (A-)</li>
    <li><b>Important references</b> :
        <ol>
            <li>
                <a href="https://public.econ.duke.edu/~ap172/Patton_ranking_RV_JoE_2011.pdf">
                    Patton, A. (2011). “Data-based ranking of realised volatility estimators,” Journal of Econometrics,
                    161(2), 284–303.
                </a>
            </li>
            <li>
                <a href="https://www.mdpi.com/1911-8074/13/6/107">
                    Soylu, P. K., Okur, M., Çatıkkaş, Ö., Altintig, Z. A. (2020). “Long
                    memory in the volatility of selected cryptocurrencies: Bitcoin,
                    Ethereum and Ripple,” Journal of risk and financial management,
                    Vol. 13.2020, 6/107, 1-20
                </a>
            </li>
        </ol>

    </li>
    <li><b>summary</b>: It examines various realized measures to model financial volatility,
        specifically in the Bitcoin market.
        The paper explores different time periods, comparing pre-pandemic and pandemic periods,
        and analyzes the performance of these measures in the cryptocurrency market.
        It includes an in-depth analysis of data, methodologies for calculating realized measures,
        comparisons across different periods, and forecasting market volatility using the HAR model.
        The paper concludes with findings on the effectiveness of these measures in the Bitcoin market during different
        periods.
    </li>
</ul>
</p>



{% endblock %}