{% extends 'base.html' %}

{% block title %}
Skills
{% endblock %}

{% block content %}
<div class="skills-section">
    <h2>Python:</h2>
    <ul>
        <li>
            <strong>Fundamentals:</strong> Proficient in advanced data analysis and visualization techniques using libraries like Pandas and Matplotlib. Skilled in object-oriented programming (OOP) in Python, enhancing software development and maintenance capabilities.
        </li>
        <li>
            <strong>Machine Learning:</strong> Advanced expertise in using TensorFlow for designing and training supervised learning models, showcasing strong capabilities in predictive analytics and AI development.
        </li>
        <li>
            <strong>Prompt Engineering:</strong> Demonstrated intermediate proficiency in crafting effective prompts for ChatGPT using the OpenAI API, contributing to enhanced AI interactions.
        </li>
        <li>
            <strong>Backend Web Development:</strong> Intermediate experience in deploying web backends and managing datasets using Flask and Django, demonstrating a solid foundation in server-side development.
        </li>
        <li>
            <strong>SQL and BigQuery:</strong> Basic familiarity with SQL and BigQuery, indicating an understanding of relational database management and data querying.
        </li>
    </ul>

    <h2>Academic Background:</h2>
    <ul>
        <li>
            <strong>University Training:</strong> Well-versed in Python, R, MATLAB, and Stata, with a focus on applications in finance, showcasing a strong foundation in computational finance and financial analysis tools.
        </li>
        <li>
            <strong>Financial Modeling and Risk Management:</strong> Intermediate skills in financial modeling and risk management, illustrating a robust capability in assessing and mitigating financial risks.
        </li>
        <li>
            <strong>Statistics and Econometrics:</strong> Intermediate knowledge in inferential statistics and time series analysis, underpinning a strong analytical ability in econometrics.
        </li>
        <li>
            <strong>Research and Analysis:</strong> Proven intermediate proficiency in processing and analyzing high-frequency financial data, as evidenced by seminar participation and master's thesis work.
        </li>
    </ul>

    <h2>IT Skills:</h2>
    <ul>
        <li>
            <strong>Ethical Hacking:</strong> Basic knowledge and skills in penetration testing and cybersecurity, reflecting an understanding of IT security fundamentals.
        </li>
        <li>
            <strong>Linux and Bash Scripting:</strong> Intermediate competency in Linux commands and system configurations, along with intermediate skills in Bash scripting, demonstrating effective system management, operational skills, and the ability to automate tasks and processes in a Linux environment.
        </li>
        <li>
            <strong>Git and GitHub:</strong> Proficient in using Git for version control and GitHub for repository management, showcasing strong skills in code collaboration, version tracking, and open-source contribution.
        </li>
        <li>
            <strong>Office and Productivity Software:</strong> Advanced expertise in using Microsoft Office and Google Suite for effective presentation and data analysis, including proficiency with pivot tables.
        </li>
    </ul>

    <h2>Language Proficiency:</h2>
    <ul>
        <li>
            <strong>Mandarin Chinese:</strong> Native speaker.
        </li>
        <li>
            <strong>English:</strong> Fluent (C1 level), indicating a high proficiency in professional and academic communication.
        </li>
        <li>
            <strong>German:</strong> Beginner (A2 level), demonstrating basic communication skills.
        </li>
        <li>
            <strong>Russian:</strong> Beginner, showcasing an ability to engage in fundamental interactions.
        </li>
    </ul>
</div>
{% endblock %}
